body {
  margin: 0;
  font-family: "Spectral", serif;
}

.hero {
  /* background-image: url("./images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(-6deg);
}

.hero h1 {
  text-align: center;
  line-height: 1.1;
  margin: 0;
  font-size: 4.5rem;
  color: white;
  font-style: italic;
  max-width: 941px;
}

.hero .hollow {
  font-weight: 700;
  font-style: italic;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.hero .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero button {
  margin: 40px 10px;
  padding: 10px 15px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  background-color: #b7472a;
  border-color: #b7472a;
}

.hero .second {
  background-color: transparent;

  border-color: #fff;
}
