body {
  margin: 0;
  font-family: "Spectral", serif;
}

.hero {
  /* background-image: url("./images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(-6deg);
}

.hero h1 {
  text-align: center;
  line-height: 1.1;
  margin: 0;
  font-size: 4.5rem;
  color: white;
  font-style: italic;
  max-width: 941px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.6rem;
  }
}

.hero .hollow {
  font-weight: 700;
  font-style: italic;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.hero .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero button {
  margin: 40px 10px;
  padding: 10px 15px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  background-color: #b7472a;
  border-color: #b7472a;
}

.hero .second {
  background-color: transparent;

  border-color: #fff;
}

/* FEATURE CARD */

.feature-card {
  font-weight: 300;
  color: #fff;
  display: flex;
  padding: 10px 20px;
}

.feature-card .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.feature-card .icon i {
  font-size: 2.5rem;
}

.feature-card p {
  opacity: 0.6;
}
.feature-card h4 {
  opacity: 1;
}
/* FEATURES */

.features {
  background-color: #b7472a;
  display: flex;
  justify-content: center;
  padding: 0 80px;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    padding: 5px 20px;
  }

  .feature-card {
    flex-direction: column;
    padding: 20px;
  }

  .feature-card .icon {
    flex-direction: row;
    justify-content: left;
  }
}

/* ABOUT */
.about {
  display: flex;
  padding: 0 40px;
}

.about .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 50px 50px;
  flex: 1;
}

.about .content {
  padding: 50px 50px 50px 10px;
  flex: 1;
}
.about .img-wrapper img {
  width: 75%;
}

.content p:nth-child(1) {
  font-style: italic;
  font-weight: 300;
  color: #b7472a;
}

.content h3 {
  font-size: 40px;
  margin: 20px 0;
}

.text {
  opacity: 0.6;
  line-height: 2.1;
}

.number {
  font-style: italic;
  color: #b7472a;
}
.content h4 {
  font-weight: 300;
  font-size: 30px;
}

@media (max-width: 768px) {
  .about .img-wrapper img {
    width: 100%;
    padding: 0;
  }

  .about .img-wrapper {
    padding: 0px;
    margin-top: 60px;
    display: block;
  }

  .about .content {
    padding: 10px;
  }
  .about {
    flex-direction: column;
    padding: 0;
  }
}

/* VARIETY */

.variety {
  text-align: center;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1.3rem;
}

.variety p {
  opacity: 0.8;
}
.outer-circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border-style: solid;
  border-color: #b7472a;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.inner-circle {
  background-image: url("../src/images/kind-1.jpg");
  background-position: center;
  background-size: contain;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  transition: 1s;
}

.inner-circle:hover {
  transform: rotate(45deg);
}

.kind-1 {
  background-image: url("../src/images/kind-1.jpg");
}

.kind-2 {
  background-image: url("../src/images/kind-2.jpg");
}

.kind-3 {
  background-image: url("../src/images/kind-3.jpg");
}
.kind-4 {
  background-image: url("../src/images/kind-4.jpg");
}
.kind-5 {
  background-image: url("../src/images/kind-5.jpg");
}
.kind-6 {
  background-image: url("../src/images/kind-6.jpg");
}

.varieties {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* PRODUCT */

.title-intro {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  color: #b7472a;
  margin: 2px 0;
}

.title {
  margin: 1px 0;
  font-size: 2.1rem;
  text-align: center;
}
.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  margin: 15px 5px;
}

.product p {
  margin: 2px 0;
}
.product .kind {
  font-style: italic;
  color: #b7472a;
}

.product .name {
  font-size: 1.5rem;
}

.product .price {
  font-style: italic;
  opacity: 0.7;
}
.product .img-wrapper img {
  height: 350px;
  z-index: 18;
  width: 100%;
  border-radius: 10px;
}
.products {
  padding: 0 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product .img-wrapper {
  position: relative;
  border-radius: 10px;
  height: 350px;
}

.product .img-wrapper .overlay {
  position: absolute;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 19;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  background-color: black;
  opacity: 0;
}

.product .img-wrapper .overlay:hover {
  opacity: 0.8;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .products {
    padding: 20px 20px;
  }
}

@media (max-width: 480px) {
  .products {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
}

/* COMMENT */
.comment {
  position: relative;
  background-color: transparent;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 20px;
  padding: 20px 40px;
  width: 500px;
}
.comment .man img {
  width: 75px !important;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.carousel .slide {
  background: none !important;
  text-align: unset !important;
}
.comment .comma {
  position: absolute;
  left: 15px;
  top: -20px;
  background-color: #b7472a;
  padding: 15px;
  border-radius: 100%;
}

.fa-quote-left {
  color: white;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 50px;
}

.user-comment {
  font-style: italic;
}

.user-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.designation {
  margin-top: 3px;
}

@media (min-width: 900px) {
  .comment {
    width: 700px;
  }
}

.testimonial-wrapper {
  color: white;
  padding: 70px 0;
}

/* BLOG POST */

.blog {
  display: flex;
  margin: 10px;
}

.blog .blog-img {
  flex: 1;
  background-position: center;
  background-size: cover;
}

.blog .content {
  background: #f5f4f0 !important;
  padding: 20px;
  flex: 1;
}

.blog h4 {
  margin: 4px 0;
}

.blog p {
  margin: 10px 0;
  color: gray;
}

.blog-title {
  font-size: 1.3rem;
  font-style: italic;
  color: #000 !important;
}

.blog-container {
  padding: 20px 12%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}

.blogs-section {
  padding: 100px 0;
}

@media (max-width: 768px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
}

/* FOOTER */
.footer {
  background-color: #1a1a1a;
  color: rgb(255, 255, 255, 0.8);
  font-weight: 300;
  padding: 50px 20px;
}
.footer button {
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255, 0.5);
  background: #b7472a;
  border: solid;
  border-radius: 100%;
  border-color: #b7472a;
  border-width: 1px;
}

.footer .company {
  font-size: 1rem;
  padding: 20px 0;
  font-weight: bold;
}
.f-header {
  padding: 20px 0;
}
.f-link {
  color: rgb(255, 255, 255, 0.5);
}

@media (min-width: 968px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 12%;
  }

  .f2 {
    margin: 0 5px;
    flex: 1;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.collapse {
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 2px 0 0 0;
  padding: 10px;
}

.ind {
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #c4c4c4;
}

.i-header {
  font-weight: bold;
}

.ind p {
  margin: 2px 0;
}

.brief {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.cocktail-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
}
.cocktail-img-wrapper img {
  width: 100%;
  border-radius: 20px;
}

.whole-card {
  padding: 10px;
  border-style: solid;
  border-color: #b7472a;
  border-radius: 20px;
  border-width: 1px;
  min-width: 200px;
  max-width: 500px;
  margin: 20px;
}

.bullet {
  margin: 3px 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.616);
}

.brief h2 {
  margin-top: 2px;
  font-size: 1rem;
}

.brief .content {
  padding: 0 20px;
}

.card-btn-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.card-btn-wrapper button {
  margin: 10px;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 7px;
  background-color: #b7472a;
  color: white;
}

.collapse h4 {
  font-size: 1rem;
  margin: 10px 0;
}

.collapse p {
  font-style: italic;
  font-size: 0.8rem;
}

.cocktails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8%;
}

@media (max-width: 768px) {
  .cocktails {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .whole-card {
    max-width: 100%;
  }

  .collapse {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .brief {
    display: flex;
    flex-direction: column;
  }

  .cocktail-img-wrapper {
  }

  .brief .content {
    padding: 10px 5px;
  }
}

.search-box {
  padding: 10% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box .heading {
  color: white;
  font-size: 2rem;
}

.actual-search-box {
  align-self: flex-start;
}

.actual-search-box input {
  border-style: solid;
  border-color: #b7472a;
  border-width: 2px 0 2px 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: transparent;
  padding: 8px;
  color: white;
  outline: none;
  line-height: 1.5rem;
  width: 500px;
  font-size: 1.5rem;
}

.actual-search-box button {
  padding: 9px 15px;
  line-height: 1.5rem;
  color: white;
  background: #b7472a;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5rem;
  border-width: 3px;
  border-color: #b7472a;
}

.actual-search-box button:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .search-box .heading {
    font-size: 1.5rem;
  }
  .actual-search-box input {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .search-box {
    padding: 25vh 20px;
  }
  .search-box .heading {
    font-size: 1.2rem;
  }

  .actual-search-box input {
    width: 190px;
  }
}

.not-found {
  text-align: center;
  color: gray;
  height: 100vh;
}
